<div th:fragment="default-scripts">

    <!-- Library Bundle Script -->
    <script th:src="@{/hope-ui/js/core/libs.min.js}"></script>
    
    <!-- External Library Bundle Script -->
    <script th:src="@{/hope-ui/js/core/external.min.js}"></script>

    <!-- Settings Script -->
    <script th:src="@{/hope-ui/js/plugins/setting.js}"></script>

    <!-- Widgetchart Script -->
    <!--/* <script th:src="@{/hope-ui/js/charts/widgetcharts.js}"></script> */-->
    
    <!-- mapchart Script -->
    <!--/* <script th:src="@{/hope-ui/js/charts/vectore-chart.js}"></script> */-->
    <!--/* <script th:src="@{/hope-ui/js/charts/dashboard.js}"></script> */-->
    
    <!-- fslightbox Script -->
    <!--/* <script th:src="@{/hope-ui/js/plugins/fslightbox.js}"></script> */-->

    <!-- Slider-tab Script -->
    <!--/* <script th:src="@{/hope-ui/js/plugins/slider-tabs.js}"></script> */-->

    <!-- Form Wizard Script -->
    <!--/* <script th:src="@{/hope-ui/js/plugins/form-wizard.js}"></script> */-->
    
    <!-- AOS Animation Plugin-->
    <script th:src="@{/hope-ui/vendor/aos/dist/aos.js}"></script>
    
    <!-- App Script -->
    <script th:src="@{/hope-ui/js/hope-ui.js}" defer></script>

</div>