<!DOCTYPE html>
<html layout:decorate="~{layouts\main\layout}">

    <div layout:fragment="content">
        <div class="card" data-aos="fade-up" data-aos-delay="800">
            <div class="flex-wrap card-header d-flex justify-content-between align-items-center">
                <div class="header-title">
                    <h4 class="card-title">Logs de Leitura</h4>
                    <p class="mb-0">Últimos 10 cartões lidos</p>
                </div>

                <div>
                    <button id="btn-atualizar" class="btn btn-primary mb-1">
                        Atualizar
                    </button>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="tabela-logs" class="table table-striped table-hover border">
                        <thead class="table-dark">
                            <tr>
                                <th>Data/Hora</th>
                                <th>Localização</th>
                                <th>Micro</th>
                                <th>Tipo Micro</th>
                                <th>Modo de Operação</th>
                                <th>Código</th>
                                <th>Pessoa</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script th:src="@{/js/dashboard.js}"></script>
    </div>

</html>
