<!DOCTYPE html>
<html layout:decorate="~{layouts\main\layout}">

    <div layout:fragment="content">
        <div class="card" data-aos="fade-up" data-aos-delay="800">
            <div class="flex-wrap card-header d-flex justify-content-between align-items-center">
                <div class="header-title">
                    <h4 class="card-title">Card Test</h4>
                    <p class="mb-0">I'm a simple text!</p>          
                </div>
            </div>
            <div class="card-body">
                <!-- <div class="d-main"></div> -->
                <div class="row">
                    <div class="col">
                        <div class="mb-3 form-floating custom-form-floating custom-form-floating-sm form-group">
                            <input type="email" class="form-control" id="" placeholder="Place Holder">
                            <label for="">Nome</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 form-floating custom-form-floating custom-form-floating-sm form-group">
                            <input type="email" class="form-control" id="" placeholder="Place Holder">
                            <label for="">Nome</label>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="mb-3 form-floating custom-form-floating custom-form-floating-sm form-group">
                            <input type="email" class="form-control" id="" placeholder="Place Holder">
                            <label for="">Nome</label>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>
